<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, tr, th, td {
            border: 1px solid;
            border-collapse: ;
        }
    </style>
    <title>Document</title>
</head>
<body>
   <table>
    <tr>
        <th>Makanan</th>
        <th>Minuman</th>
        <th>warna</th>
    </tr>
    {% for hoby in wk%}
    <tr>
    <td>{{hoby.Makanan}}</td>
    <td>{{hoby.Minuman}}</td>
    <td>{{hoby.warna}}</td>
    </tr>
    {% endfor%}
   </table> 
</body>
</html>